Resolve-DnsName incorrect recognize multiple strings in a single DNS TXT record

### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the [latest released version](https://github.com/PowerShell/PowerShell/releases)
- [X] Search the existing issues.
- [X] Refer to the [FAQ](https://github.com/PowerShell/PowerShell/blob/master/docs/FAQ.md).
- [X] Refer to [Differences between Windows PowerShell 5.1 and PowerShell](https://docs.microsoft.com/powershell/scripting/whats-new/differences-from-windows-powershell).

### Steps to reproduce

When a single DNS TXT record contain multiple strings, `Resolve-DnsName "domain" -Type TXT` add comma `,` to concatenate strings.
Multiple strings in a single DNS record - normal situation, defined in RFC7208 (section 3.3) and RFC1035 (sections 3.3 and 3.3.14)
CmdLet result for domain `aeroflot.ru`:
```
Resolve-DnsName "aeroflot.ru" -Type TXT

Name                                     Type   TTL   Section    Strings
----                                     ----   ---   -------    -------
aeroflot.ru                              TXT    202   Answer     {ca3-f2bbba5b43ae45328abc29931f1cb07e}
aeroflot.ru                              TXT    202   Answer     {yandex-verification: 5ecffa2e9a312726}
aeroflot.ru                              TXT    202   Answer     {v=spf1 ip4:185.69.83.20 ip4:185.69.80.10
                                                                  ip4:185.69.80.20 ip4:185.69.81.10 ip4:18
                                                                 5.69.81.20 ip4:185.69.83.50 ip4:185.22.60
                                                                 .2 ip4:5.8.180.34 ip4:37.18.91.24 ip4:5.2
                                                                 00.57.130 ip4:92.53.70.116 ip4:91.234.188
                                                                 .98 ip4:91.234.188.146 ip4:78.155.201.0/2
                                                                 7 ip4, :84.201.190.197 ip4:151.193.224.24
                                                                 4 ip4:151.193.224.245 ip4:151.193.65.92 i
                                                                 p4:151.193.65.93 ip4:151.193.220.18 ip4:1
                                                                 51.193.220.20 +mx -all}
```
Output result for `nslookup`:
```
nslookup -type=txt aeroflot.ru
...
aeroflot.ru     text =

        "v=spf1 ip4:185.69.83.20 ip4:185.69.80.10 ip4:185.69.80.20 ip4:185.69.81.10 ip4:185.69.81.20 ip4:185.69.83.50 ip4:185.22.60.2 ip4:5.8.180.34 ip4:37.18.91.24 ip4:5.200.57.130 ip4:92.53.70.116 ip4:91.234.188.98 ip4:91.234.188.146 ip4:78.155.201.0/27 ip4"
        ":84.201.190.197 ip4:151.193.224.244 ip4:151.193.224.245 ip4:151.193.65.92 ip4:151.193.65.93 ip4:151.193.220.18 ip4:151.193.220.20 +mx -all"
aeroflot.ru     text =

        "yandex-verification: 5ecffa2e9a312726"
aeroflot.ru     text =

        "ca3-f2bbba5b43ae45328abc29931f1cb07e"
```

### Expected behavior

```console
{v=spf1 ip4:185.69.83.20 ip4:185.69.80.10 ip4:185.69.80.20 ip4:185.69.81.10 ip4:185.69.81.20 ip4:185.69.83.50 ip4:185.22.60.2 ip4:5.8.180.34 ip4:37.18.91.24 ip4:5.200.57.130 ip4:92.53.70.116 ip4:91.234.188.98 ip4:91.234.188.146 ip4:78.155.201.0/27 ip4:84.201.190.197 ip4:151.193.224.244 ip4:151.193.224.245 ip4:151.193.65.92 ip4:151.193.65.93 ip4:151.193.220.18 ip4:151.193.220.20 +mx -all}
```


### Actual behavior

```console
{v=spf1 ip4:185.69.83.20 ip4:185.69.80.10 ip4:185.69.80.20 ip4:185.69.81.10 ip4:185.69.81.20 ip4:185.69.83.50 ip4:185.22.60.2 ip4:5.8.180.34 ip4:37.18.91.24 ip4:5.200.57.130 ip4:92.53.70.116 ip4:91.234.188.98 ip4:91.234.188.146 ip4:78.155.201.0/27 ip4, :84.201.190.197 ip4:151.193.224.244 ip4:151.193.224.245 ip4:151.193.65.92 ip4:151.193.65.93 ip4:151.193.220.18 ip4:151.193.220.20 +mx -all}
```


### Error details

_No response_

### Environment data

```powershell
Name                           Value
----                           -----
PSVersion                      7.2.6
PSEdition                      Core
GitCommitId                    7.2.6
OS                             Microsoft Windows 10.0.19044
Platform                       Win32NT
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0…}
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.1
WSManStackVersion              3.0
```


### Visuals

_No response_

Strings `property` is an array (perhaps the server gives in this form). If you want just plain output you have to format it. For example:
```powershell
Resolve-DnsName aeroflot.ru -Type TXT | Format-Table Name, Type, TTL, @{ label = 'Strings'; expression = { $_.Strings -join '' }} -Wrap
``` 