Invoke-RestMethod does not use \r in the body when submitting multipart/form-data

### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the [latest released version](https://github.com/PowerShell/PowerShell/releases)
- [X] Search the existing issues.
- [X] Refer to the [FAQ](https://github.com/PowerShell/PowerShell/blob/master/docs/FAQ.md).
- [X] Refer to [Differences between Windows PowerShell 5.1 and PowerShell](https://docs.microsoft.com/powershell/scripting/whats-new/differences-from-windows-powershell).

### Steps to reproduce

An error occurs when trying to send a file through the [ICQ API](https://icq.com/botapi/) - the FILE field is not recognized in the request body

The file is sent by the following script:
```
$Request = [System.UriBuilder]'https://api.icq.net/bot/v1/messages/sendFile';

$Parameters = [System.Web.HttpUtility]::ParseQueryString([String]::Empty)

$Parameters.add('token', 'API_TOKEN')
$Parameters.add('chatId', 'CHAT_ID')    

$Request.Query = $Parameters.ToString();

$form = @{
    file      = Get-Item PATH_TO_FILE
}

Invoke-RestMethod -Method Post -Uri $Request.Uri -Form $form -ContentType 'multipart/form-data'
```

However, if you send the file in another way, the sending is successful:
```
$Parameters = [System.Web.HttpUtility]::ParseQueryString([String]::Empty)
$Parameters["token"] = "API_TOKEN"
$Parameters["chatId"] = "CHAT_ID"
		
$Request = [System.UriBuilder]"https://api.icq.net/bot/v1/messages/sendFile"

$Request.Query = $Parameters.ToString()
		
$FileName = PATH_TO_FILE
$FilePath = Join-Path -Path $PSScriptRoot -ChildPath $FileName

$fileBytes = [System.IO.File]::ReadAllBytes($FilePath);
$fileEnc = [System.Text.Encoding]::GetEncoding("UTF-8").GetString($fileBytes);
$boundary = [System.Guid]::NewGuid().ToString(); 
$LF = "`r`n";

$bodyLines = ( 
	"--$boundary",
	"Content-Disposition: form-data; name=`"file`"; filename=`"$FileName`"",
	"Content-Type: application/octet-stream$LF",
	$fileEnc,
	"--$boundary--$LF" 
) -join $LF
		
Invoke-RestMethod -Uri $Request.Uri -Method Post -ContentType "multipart/form-data; boundary=$boundary" -Body $bodyLines
```

Using the selection method, I found out that if you change the value of the LF variable from "\`r\`n" to "\`n" in the second script, then the sending will also be unsuccessful

It appears that the first script also uses the character "`n" to break lines.

According to MDN, [FormData](https://developer.mozilla.org/en-US/docs/Web/API/FormData) uses the "multipart/form-data" format, specified by [RFC 2388, section 3](https://www.rfc-editor.org/rfc/rfc2388.html#section-3) of which states:

`The media-type multipart/form-data follows the rules of all multipart MIME data streams as outlined in RFC 2046.`

[RFC § 4.1.1](https://www.rfc-editor.org/rfc/rfc2046#section-4.1.1), the section on line endings, states:

`The canonical form of any MIME "text" subtype MUST always represent a line break as a CRLF sequence.`

### Expected behavior

```console
Request body lines are separated by "`r`n"
```


### Actual behavior

```console
Request body lines are separated by "`n"
```


### Error details

_No response_

### Environment data

```powershell
Name                           Value
----                           -----
PSVersion                      7.2.5
PSEdition                      Core
GitCommitId                    7.2.5
OS                             Darwin 21.4.0 Darwin Kernel Version 21.4.0: Sat Jan 29 03:25:23 PST 2022; root:xnu-8020.100.417.0.4~31/RELEASE_X86_64
Platform                       Unix
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0…}
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.1
WSManStackVersion              3.0
```


### Visuals

_No response_

Hmm, it seems PowerShell follow .Net and does nothing with manual mutipart encoding. But I don't see a problem in .Net code https://source.dot.net/#System.Net.Http/System/Net/Http/MultipartContent.cs,19

@dasshit Can you use a sniffer and confirm that "`n" instead of "`r`n" is emitted?

### This question definitely deserves further investigation.
i used Invoke-RestMethod body send file when submitting multipart/form-data.
I have referenced a lot of writing on stack overflow, but never succeeded. 
Later I used .net class method and it worked.

> Hmm, it seems PowerShell follow .Net and does nothing with manual mutipart encoding. But I don't see a problem in .Net code https://source.dot.net/#System.Net.Http/System/Net/Http/MultipartContent.cs,19
> 
> @dasshit Can you use a sniffer and confirm that "`n" instead of "`r`n" is emitted?
> 
> > **[Source Browser](https://source.dot.net/#System.Net.Http/System/Net/Http/MultipartContent.cs,19)**

I'm using Charles as a sniffer, but I don't see any options for highlighting control characters.

However, above I gave an example of a script where, when changing the line separators in the body from \r\n to \n, sending a file via multipart/form-data becomes unsuccessful

Here is script to reproduce error, including tokens and other required data from ICQ API

```
$Parameters = [System.Web.HttpUtility]::ParseQueryString([String]::Empty)
$Parameters["token"] = "001.3510528113.0957533926:1004574249"
$Parameters["chatId"] = "759112306"
		
$Request = [System.UriBuilder]"https://api.icq.net/bot/v1/messages/sendFile"

$Request.Query = $Parameters.ToString()
		
$FilePath = $PSCommandPath
$FileName = $(Get-ChildItem $FilePath).Name

$fileBytes = [System.IO.File]::ReadAllBytes($FilePath);
$fileEnc = [System.Text.Encoding]::GetEncoding("UTF-8").GetString($fileBytes);
$boundary = [System.Guid]::NewGuid().ToString(); 
$LF = "`n";

$bodyLines = ( 
	"--$boundary",
	"Content-Disposition: form-data; name=`"file`"; filename=`"$FileName`"",
	"Content-Type: application/octet-stream$LF",
	$fileEnc,
	"--$boundary--$LF" 
) -join $LF
		
Invoke-RestMethod -Uri $Request.Uri -Method Post -ContentType "multipart/form-data; boundary=$boundary" -Body $bodyLines
```

And same script, but with the $LF = "`r`n" - result is success
```
$Parameters = [System.Web.HttpUtility]::ParseQueryString([String]::Empty)
$Parameters["token"] = "001.3510528113.0957533926:1004574249"
$Parameters["chatId"] = "759112306"
		
$Request = [System.UriBuilder]"https://api.icq.net/bot/v1/messages/sendFile"

$Request.Query = $Parameters.ToString()
		
$FilePath = $PSCommandPath
$FileName = $(Get-ChildItem $FilePath).Name

$fileBytes = [System.IO.File]::ReadAllBytes($FilePath);
$fileEnc = [System.Text.Encoding]::GetEncoding("UTF-8").GetString($fileBytes);
$boundary = [System.Guid]::NewGuid().ToString(); 
$LF = "`n";

$bodyLines = ( 
	"--$boundary",
	"Content-Disposition: form-data; name=`"file`"; filename=`"$FileName`"",
	"Content-Type: application/octet-stream$LF",
	$fileEnc,
	"--$boundary--$LF" 
) -join $LF
		
Invoke-RestMethod -Uri $Request.Uri -Method Post -ContentType "multipart/form-data; boundary=$boundary" -Body $bodyLines
```

@dasshit Can you reproduce the issue with latest pwsh 7.3 preview?

```bash
~ via  v16.15.0 via 🐍 v3.10.0 took 7s 
❯ /usr/local/microsoft/powershell/7-preview/pwsh test_3.ps1

   ok description
   -- -----------
False file or fileId is required


~ via  v16.15.0 via 🐍 v3.10.0 
❯ /usr/local/microsoft/powershell/7-preview/pwsh --version 
PowerShell 7.3.0-preview.6
```

Error is still there