Encode spaces with %20 instead of + when using Invoke-RestMethod and Invoke-WebRequest.

### Summary of the new feature / enhancement

I discovered that when passing query parameters as arguments to the body of Invoke-RestMethod, it's automatically doing URL encoding for you, but it's encoding spaces with + signs. Not all APIs accept this! All APIs should accept %20 right? Would it be possible for this to encode with %20 instead without breaking things, or give us a parameter to modify this?

This is such a massive headache to troubleshoot as well, since on verbose you can't see the actual payload being sent to the API unless you test with your own HTTP listener, so you'll have no idea why your API calls are failing! It's been very frustrating for a lot of people.

If possible please implement a fix for both Invoke-RestMethod and Invoke-WebRequest.

### Proposed technical implementation details (optional)

_No response_

The relevant codes looks like it is in [WebRequestPSCmdlet.Common.cs](https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Utility/commands/utility/WebCmdlet/Common/WebRequestPSCmdlet.Common.cs)

There it uses [WebUtility.UrlEncode](https://learn.microsoft.com/en-us/dotnet/api/system.net.webutility.urlencode?view=net-8.0)

The comment states

> Each ' ' (space) character is converted to a + (plus) character.

If you also look at [java.net.URLEncoder](https://docs.oracle.com/javase/7/docs/api/java/net/URLEncoder.html) it also says

> The space character " " is converted into a plus sign "+".

So it should not be considered a non-standard encoding.

As a work-around can you format the full URI first before giving it to Invoke-WebRequest or Invoke-WebMethod?

Yeah, I had to build my own URL with the query params on it and URL encode it myself using:
`[uri]::EscapeDataString($queryParams)`

Well I use that if I just want to URL encode the query params. If I wanted to pass the whole URI into it I would use this:
`[uri]::EscapeUriString($uri)`

Those methods encode with %20.

That works as opposed to just passing the query params to the body param of Invoke-RestMethod, but, if my understanding is correct. %20 is always accepted for spaces (and that is the RFC 3938 standard), and sometimes + sign is not, as discussed on this thread here: https://stackoverflow.com/questions/2678551/when-should-space-be-encoded-to-plus-or-20. 

In the API I was using + signs were not accepted for spaces in the query params, but idk how common that is. So I was seeing if I could make a change to prevent the masses from running into the same issue.

@Nova1089, `[uri]::EscapeUriString($uri)` is not an option, because - unlike `[uri]::EscapeDatastring()` - it doesn't encode a verbatim `+` as `%2B`, which is necessary in query strings to distinguish them from space

The URI Living Standard currently still mandates encoding spaces as `+` for `application/x-www-form-urlencoded` serializing (query strings) - see https://url.spec.whatwg.org/#urlencoded-serializing (it isn't readily obvious, but it is implied by the "and true" part, implying passing true to the `spaceAsPlus` parameter of the encoding algorithm).

So while this behavior may be a legacy oddity, it is still mandated.

The accepted answer to the SO post you link to claims that using `%20` instead of `+` for spaces _while still encoding verbatim `+` as `%2B`_ is safe to do, but another answer mentions a case of web service that simply didn't accept _any_ percent-encoded values, making it an example of where the change you're proposing would break things.

Given all that, I think the safer choice is to stick with the current behavior.


Okay, thanks for the explanation. Having two standards that compete with each other kind of defeats the purpose of standards eh? 😂

Would it be possible to have a parameter that could tweak this behavior?

That's a question for the relevant WG (working group) - assuming this issue eventually gets tagged for review by it (I have no say in this).

Without weighing in on whether introducing such a parameter is warranted: Given that `Invoke-WebRequest` and `Invoke-RestMethod` already have a plethora of parameters, the bar for adding another one is probably high.





It makes sense to learn how .Net API works (and compare with curl/wget). I guess we could migrate to the API without (huge) breaking changes.

@iSazonov 

[`[System.Net.Webutility]::UrlEncode()`](https://learn.microsoft.com/en-US/dotnet/api/System.Net.WebUtility.UrlEncode) - which the web cmdlet use,  as @rhubarb-geek-nz  has pointed out - uses `+`, whereas [`[uri]::EscapeDataString()`](https://learn.microsoft.com/en-us/dotnet/api/system.uri.escapedatastring) uses `%20` (but still encodes a verbatim `+` as `%20`, unlike [`[uri]::EscapeUriString()`](https://learn.microsoft.com/en-us/dotnet/api/system.uri.escapeuristring)).

`[System.Net.Webutility]::UrlEncode()`, which is _not_ deprecated, explicitly mentions encoding spaces as `+`.
It and the `[uri]` methods do not reference each other, and the former makes no mention of query strings /  `application/x-www-form-urlencoded` data.

`curl`, as of v8.8.0, also uses `+` (e.g., `curl https://example.org --url-query foo='bar none'`)

`wget`, as of v1.24.5, from what I can tell, has no options for passing form-field key-value pairs individually; it looks like you have to construct the query string yourself and must append it to the URL yourself.




@iSazonov, I think the only considerations with respect to changing the _default_ behavior should be whether (a) switching to percent-encoding of spaces is desirable and (b) if so, whether this amounts to a [bucket 3](https://github.com/PowerShell/PowerShell/blob/master/docs/dev-process/breaking-change-contract.md#bucket-3-unlikely-grey-area) change.

Only if the answer to both questions is yes is it worth thinking about taking advantage of newer .NET APIs, though - from what I can tell - the only ones that could provide higher-level, dictionary-based query-string construction are in the `Microsoft.AspNetCore` namespace, which doesn't ship with PowerShell.


> the only ones that could provide higher-level, dictionary-based query-string construction are in the `Microsoft.AspNetCore` namespace, whose assemblies don't ship with PowerShell.

PowerShell is a standalone or client app. AspNetCore is only for when you are writing web server applications.

> @iSazonov, I think the only considerations with respect to changing the _default_ behavior should be whether (a) switching to percent-encoding of spaces is desirable and (b) if so, whether this amounts to a [bucket 3](https://github.com/PowerShell/PowerShell/blob/master/docs/dev-process/breaking-change-contract.md#bucket-3-unlikely-grey-area) change.

Old .Net Framework API is named as `Web*`. Windows PowerShell uses the API plus add a lot of custom code over.
New .Net API is named as `Http*``. And current state for pwsh is it uses new HttpClient API and a lot of old additional code.
This mix of new and old APIs reflects a transition period that has stretched over many years (unjustifiably). And this mixture generates an infinite number of small problems. I don't see the point in wasting time on them. We're really wasting our time. We just need to delete the old code and use the new .Net one.
As for possible breaking changes, these would rather be bugs in .Net, but this is unlikely (and should be fixed there). The rest will be more likely qualified as bug fixes. And we must say that 99% of the scenarios will work without changes, we are talking about a very small number of specific scenarios.

While cleaning up old code and using modern APIs is commendable,

* (a) that wouldn't help in this particular case, because `System.Net.Http.FormUrlEncodedContent` still encodes spaces as `+` (see below)

* (b) that fact is consistent with the fact that the current URI standard still prescribes this behavior.

So the question is: are there more server implementations out there that can _not_ handle `+` as a space vs. potentially those that can _not_ handle `%20` as a space?

```powershell
# -> 'foo=bar+baz%2Bmore'
$gd = [System.Collections.Generic.Dictionary[string, string]]::new()
$gd.Add('foo', 'bar baz+more')
$content = [System.Net.Http.FormUrlEncodedContent]::new($gd)
($task = $content.ReadAsStringAsync()).Wait(); $task.Result
```

@mklement0  This is a case when the discussion is filled with the right arguments but initially went the other way. :smile:

----

First, the issue is _solely_ about the encoding of the _Query_ string.

There are two standards for the query string:
- early W3C (defines replacing the space with `+`)
- and later RFC 2396 (defines replacing the space with `%20)

The client cannot generate a request in accordance with both standards at the same time. Therefore, the client uses only one standard (curl, wget, java, .Net - each follows one of these standards).

_Both standards are valid._ So the behavior of each of these clients is correct, including PowerShell.

In other words, we should close this issue as **By-Design**

The second conclusion is that any server _must_ follow both standards (otherwise, it is server side bug). And .Net does https://github.com/dotnet/runtime/blob/f272c0e2d9518a1300ceb962291153aeeee2b8b9/src/libraries/System.Net.HttpListener/src/System/Net/HttpListenerRequest.cs#L415-L423


----

If something changes in the repository, then this is a matter of another discussion, where the conclusion is that we must _follow_ the behavior of the .Net client's API. And as mentioned above, this behavior will be automatically correct. The benefit is that we get rid of custom code and possible bugs. There is absolutely no point in performing custom URL and content encoding when .Net is doing this already.

@iSazonov:

> In other words, we should close this issue as **By-Design**

👍 (this is what I advocated for from the start, though I think we differ on the _why_ - not that it matters much in the end.

> First, the issue is _solely_ about the encoding of the _Query_ string.

Well, technically it is more narrowly about the encoding of `application/x-www-form-urlencoded` media type _as_ a query string. Not every query string is a representation of `application/x-www-form-urlencoded`

* [RFC3986](https://www.rfc-editor.org/rfc/rfc3986), which supersedes [RFC2396](https://www.rfc-editor.org/rfc/rfc2396) mentioned by you, makes _no_ mention of `application/x-www-form-urlencoded` and only describes the _general_ concept of a query component in a URI, at https://www.rfc-editor.org/rfc/rfc3986#section-3.4
 
* By contrast, the URL living standard has a section explicitly dedicated to this media type, https://url.spec.whatwg.org/#urlencoded-serializing, and, as mentioned, still mandates encoding a space as  `+`.

In other words: https://url.spec.whatwg.org/#urlencoded-serializing and therefore space-as-`+` is the _more specific_ standard, and therefore the one to apply, notwithstanding its HTML origins.
(In fact, it looks like this document, maintained by the [WHATWG](https://en.wikipedia.org/wiki/WHATWG) rather than the [IETF](https://en.wikipedia.org/wiki/Internet_Engineering_Task_Force),  is trying to _supersede_ its RFC counterpart(s), as the "Goals" section states: "Align RFC 3986 and RFC 3987 with contemporary implementations and obsolete the RFCs in the process.")

That space-as-`+` encoding is a nuisance that exists for backward compatibility is unfortunate, but ultimately irrelevant; ditto that probably most modern servers interchangeably accept the more sensible space-as-`%20` encoding.

---

I never meant to bring the aspect of _implementation_ into this discussion, and I thought it amounted to a tangent when you did.

On a philosophical note: I don't think it's always appropriate to directly surface the behavior of .NET APIs in PowerShell.

For any given case where it is appropriate, relying on such APIs without reinventing the wheel and risking a divergence between custom code and the APIs over time obviously makes sense.

If we switch to using `System.Net.Http.FormUrlEncodedContent`, we'll get spaces-as-`+` encoding, so nothing would change.


@mklement0 Thanks for pointing [WHATWG](https://en.wikipedia.org/wiki/WHATWG) as modern and live HTML maintainer.

Why we should follow .Net here - because it saves us from headaches and unnecessary work. Look at this:

From the doc https://url.spec.whatwg.org/#interface-urlsearchparams
> [URLSearchParams](https://url.spec.whatwg.org/#urlsearchparams) objects will percent-encode anything in the [application/x-www-form-urlencoded percent-encode set](https://url.spec.whatwg.org/#application-x-www-form-urlencoded-percent-encode-set), and will encode U+0020 SPACE as U+002B (+).

> Ignoring encodings (use [UTF-8](https://encoding.spec.whatwg.org/#utf-8)), [search](https://url.spec.whatwg.org/#dom-url-search) will percent-encode anything in the [query percent-encode set](https://url.spec.whatwg.org/#query-percent-encode-set) or the [special-query percent-encode set](https://url.spec.whatwg.org/#special-query-percent-encode-set) (depending on whether or not the [URL](https://url.spec.whatwg.org/#concept-url) [is special](https://url.spec.whatwg.org/#is-special)).

But that doesn't say `URLSearchParams` is being sent by the client to the server. Maybe it should send that `search` line or `href`? If we look https://url.spec.whatwg.org/#url-serializing this say nothing that is used for the Url query serialization!
And again, popular clients (culr, wget, java, .Net ...) are using different (true!) approaches.

We don't need to delve into the intricacies of these confusing standards. This work has already been done in .Net


@PowerShell/wg-powershell-cmdlets reviewed this.  We would support a new `-RFC2396` switch to get the new behavior using `EscapeDataString()`.