Invoke-RestMethod and Invoke-WebRequest Encoding bug2

1 I have  already report this bug:
https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/13685217-invoke-restmethod-and-invoke-webrequest-encoding-b

2 I give "not all examples",so that the bug part repaired.(Utf8 web page incorrectly identified as iso8859-1.)

3 Now i added "gb2312 and all other page encodings are not correctly identified as iso8859-1".



Steps to reproduce
------------------
(Invoke-WebRequest -Uri 'http://ip138.com').BaseResponse.CharacterSet  #return ISO-8859-1,but wrong,correct is gb2312.



Return garbled
-----------------
Invoke-WebRequest -Uri 'http://ip138.com'
Invoke-RestMethod -Uri 'http://ip138.com' 


How to returns the correct encoded string
---------------
$gbk = [System.Text.Encoding]::GetEncoding(936)
$utf8 = [System.Text.Encoding]::GetEncoding(65001)
$iso88591 = [System.Text.Encoding]::GetEncoding(28591) #ISO 8859-1 ,Latin-1

$wrong_string = Invoke-RestMethod -Uri 'http://ip138.com'
$wrong_bytes = $utf8.GetBytes($wrong_string)

$right_bytes = [System.Text.Encoding]::Convert($utf8,$iso88591,$wrong_bytes) 
$right_string = $gbk.GetString($right_bytes)  
write-host $right_string







Environment data
----------------
win7 + powershell 5.1 rtm:          tested,have this bug
win10 + powershell 5.1.14393.693:   tested,have this bug
cenos 7.x + v6.0.0-alpha.15:        tested,have this bug


reporter
----------------
By the chinese powershell study & research group. QQ group No. is 183173532

in 'vscode' or other open source project,in version release notes,bug reporter should be thank.
So I left a group name.


The problem is that `http://ip138.com` doesn't return a charset as part of it's content-type header:

```
PS /home/steve> $o.BaseResponse.Content.Headers                                                            

Key              Value                          
---              -----                          
Content-Length   {19215}                        
Content-Type     {text/html}                    
Content-Location {http://ip138.com/index.htm}   
Last-Modified    {Wed, 01 Mar 2017 02:09:16 GMT}
```

Without this, the cmdlet uses ISO-8859-1 per HTTP1.1 RFC.

In comparison, `http://baidu.com` does return a charset so it's received correctly:

```
PS /home/steve> $o2.BaseResponse.Content.Headers                                                           

Key          Value                          
---          -----                          
Content-Type {text/html; charset=utf-8}     
Expires      {Sun, 05 Mar 2017 05:28:55 GMT}
```

In this case, the cmdlet has no way to determine the correct charset without parsing the HTML which doesn't seem like the right thing to do:

```
PS /home/steve> $o                                                                                         


StatusCode        : 200
StatusDescription : OK
Content           : <!DOCTYPE html>
                    <html>
                    	<head>
                    		<meta charset="gb2312">
```

The best we can do here might be to expose a `-CharSet` parameter.

1 html 【http://ip138.com】 can return string 【<meta charset="gb2312">】


2 【.BaseResponse.CharacterSet】 is default html page encoding Property，   
2.1 don't tell me 【.BaseResponse.Content.Headers】Property, 
nobody know , nobody use, even Microsoft do not use,see:
$o3 = Invoke-WebRequest -Uri 'http://www.msn.com'
$o3.BaseResponse.Content.Headers 
#return null    


3 Both【http://www.baidu.com】and【http://www.msn.com】is utf8 encoding.but baidu encoding wrong. 
Invoke-WebRequest -Uri 'http://www.baidu.com' #utf8 encoding, chinese language web page.
Invoke-WebRequest -Uri 'http://www.msn.com'   #utf8 encoding, chinese language web page.

(Invoke-RestMethod -Uri 'http://www.baidu.com') -split "`n" | Select-String 'charset' 
#baidu can return string 【<meta http-equiv="content-type" content="text/html;charset=utf-8"/>】     



4 It is not 'Issue-Enhancement',is 'Microsoft.PowerShell.Utility bug' i think.



5 To powershell team:
Too many html is not standardized, since IE browser can be explained through a 【COMPATIBLE】 method, powershell can also.
With the right properties, good way to solve this problem, need powershell team to bother to consider.


6 Happy 15th Birthday .NET!     Let powershell be strong again！

My tests:
```powershell
PS C:\Program Files\PowerShell\6.0.0.16> $o3 = Invoke-WebRequest -Uri 'http://www.msn.com'
PS C:\Program Files\PowerShell\6.0.0.16> $o3.BaseResponse.Content.Headers

Key          Value
---          -----
Content-Type {text/html; charset=utf-8}
Expires      {-1}


PS C:\Program Files\PowerShell\6.0.0.16> $o4 = Invoke-WebRequest -Uri 'http://www.baidu.com'
PS C:\Program Files\PowerShell\6.0.0.16> $o4.BaseResponse.Content.Headers

Key          Value
---          -----
Content-Type {text/html; charset=utf-8}
Expires      {Mon, 06 Mar 2017 14:14:29 GMT}


PS C:\Program Files\PowerShell\6.0.0.16> $o5 = Invoke-WebRequest -Uri 'http://ip138.com'
PS C:\Program Files\PowerShell\6.0.0.16> $o5.BaseResponse.Content.Headers

Key              Value
---              -----
Content-Length   {19215}
Content-Type     {text/html}
Content-Location {http://ip138.com/index.htm}
Last-Modified    {Wed, 01 Mar 2017 02:10:49 GMT}
```

From [RFC 7231](https://tools.ietf.org/html/rfc7231#section-3.1.1.5):
>A sender that generates a message containing a payload body SHOULD
   generate a Content-Type header field in that message unless the
   intended media type of the enclosed representation is unknown to the
   sender.  If a Content-Type header field is not present, the recipient
   MAY either assume a media type of "application/octet-stream"
   ([RFC2046], Section 4.5.1) or examine the data to determine its type.

So `ip138.com` should generate a Content-Type header field.

Our Web cmdlets is _simple_, it is not a full-weight browser, it can not do full parsing HTML response. You can compare the cmdlets with `wget` or `curl`. If you need in-depth automatic behavior you should use a browser API.

@SteveL-MSFT I like  `-CharSet`  parameter. I believe we would open a separate Issue for it. Point to the fix [here](https://github.com/PowerShell/PowerShell/blob/c74b2a7670c79b02bb526c0998720b93ac385d03/src/Microsoft.PowerShell.Commands.Utility/commands/utility/WebCmdlet/CoreCLR/WebRequestPSCmdlet.CoreClr.cs#L512)

@iSazonov agree, `-CharSet` should be a separate issue https://github.com/PowerShell/PowerShell/issues/3267

Since the RFC is a SHOULD and not a MUST, I don't think any error should be generated.  A `warning` at best, perhaps use a `verbose` message is sufficient.

@chuanjiao10 I don't believe the webcmdlets should be parsing html.  I think what you really want is a `convertfrom-html` cmdlet.  Feel free to open an issue for this.

@SteveL-MSFT If a cmdlet return corrupted data is `warning` best way to inform user? I believe it is even a terminating error.

@iSazonov I don't know if we can make any definitive statements if the data is corrupted since the RFC doesn't require it but recommends it

I believe this is already a Powershell field.
If we read a corrupted zip file we get terminating error. Can we apply the same rule for web page with corrupted/undefined encoding? I think yes.


1   Users only need to get the correct results,no matter RFC ,no matter powershell how to do it.
2  【http://ip138.com】 can return string 【meta charset="gb2312"】,curl can correct explanation.
    Look this pic:
![curl01](https://cloud.githubusercontent.com/assets/8968667/23648629/7382442e-0356-11e7-8024-d2ddc904afad.png)
![curl02](https://cloud.githubusercontent.com/assets/8968667/23648632/78d3a18e-0356-11e7-88d9-1c56c546c7d5.png)
![curl03](https://cloud.githubusercontent.com/assets/8968667/23648638/7dadc874-0356-11e7-8961-9c5c927ca3b5.png)


3   There are all like powershell fans,do not be perfunctory.I disagree "-CharSet", do not push this question to the users.
    Think:
    If the browser does not recognize 【meta charset="gb2312"】,every time you need to manually select...

4 Too many html is not standardized,my point is 【COMPATIBLE】.


iSazonov: 
	Perhaps a url jump

$o3 = Invoke-WebRequest -Uri 'http://www.msn.com/zh-cn'
$o3.BaseResponse.Content.Headers
#return null,i tested again.


@chuanjiao10 
> Users only need to get the correct results

To achieve this we will be forced to use browser. Windows Powershell use `HTMLDocument` - Internet Explorer to parse HTML response (`-UseBasicParsing:$false`). PowerShell Core is portable and can not use Internet Explorer.
I do not know when .Net Core will have a ported `HTMLDocument` if will. This is a huge work I believe.

So today we are forced to use a compromise (defaults and parameter for charset). I believe it is acceptable for us (specially for REST) because the purpose of Web cmdlets is a management, working with remote web services and Cloud. In this case, all quite pre-determined and encoding too.



@chuanjiao10 I'm still of the opinion that if you want html parsing, that should be a separate `convertfrom-html` cmdlet which can understand `<meta content="...">`.

@chuanjiao10 It looks liek this is being worked on under #3267 I'm going to close this issue. If I'm mistaken and this is somehow separate, we can re-open.